p{
    color:red;
    font-size:30px;
    border:10px solid red;
}

#quote{

    font-style: italic;


}
.para{
    font-size: 25px;
    color: blueviolet;
   
}
h1{text-align: center;
    font-size: 200px;
    font-style: italic;
    font-weight: 300;
    text-shadow:10px 10px 5px black;
    color: aliceblue;



}
body{
    margin:100px auto;
    padding:100px 100px 100px 100px;
    width:600px;
    border: 10px dotted black;
    background-color: aquamarine;
}
html{
    background-color: wheat ;


}